*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.header{
    width: 100vw;
    background-color:#fff;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

}
.nav .nav-items{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
}
.nav .nav-items li{
list-style: none;
padding: 1em;

}
.nav .nav-items a{
    text-decoration: none;
    color: gray;
}
.nav .nav-items img{
    border-radius: 50%;
}
.google-content{
display: flex;
justify-content: center;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
width: 100%;
height: 400px;
}
.logo-title{
    font-size: 6em;

    
}
.G{
   color: #4285F4;
}
.o-1{
    color: #DB4437;
}
.o-2{
    color: #F4B400;;
}
.g{
    color: #4285F4;
}
.l{
    color: #0F9D58; ;
}
.e{
    color: #DB4437;
}


.wrapper-search{
    box-shadow: 0 0 10px rgb(139, 139, 139);
    padding: 10px;
    border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end; 
width: 100%;
max-width: 800px;

}
form{
    width:100%;
}
fieldset{
    width: 100%;
    border: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

 
}
#s{
    width: 100%;
    max-width: 700px;
border: none;
outline: transparent;
color:black;
background: transparent;
font-size: 2em;


}
button{
    border: none;
    background: none;
    color: gray;
}
@media only screen and (max-width:480px){
    #s{
        width:100vw;
max-width: 280px;
    border: none;
    outline: transparent;
    color:black;
    background: transparent;
    font-size: 2em;
    }
    button{
        border: none;
        background: none;
        color: gray;
        
    }
}
@media only screen and (max-width:733px){
   #s{
       width:450px ;
   }
}